@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Maven+Pro:400,500,700,900);
/* ================== Structure ================== */
body { margin: 0px; font-family: "Arvo", serif; color: #222; background-color: #2B3033; font-size: 18px; }

.wrap { width: 100%; }

h1, h2, h3, h4, h5, h6 { margin: 0; font-weight: 700; font-family: "Maven Pro", sans-serif; }

h1 { font-size: 50px; }

h2 { font-size: 40px; }

h3 { font-size: 30px; }

h4 { font-size: 28px; }

h5 { font-size: 24px; }

h6 { font-size: 20px; }

p { margin: 0; margin-top: 20px; }

.content_section, .copyright_section { padding: 50px 20px; max-width: 940px; margin: 0 auto; }

a { text-decoration: none; }

/** LIGHTBOX MARKUP **/
.lightbox { /** Default lightbox to hidden */ display: none; /** Position and style */ position: fixed; z-index: 999; width: 100%; height: 100%; text-align: center; top: 0; left: 0; background: rgba(0, 0, 0, 0.8); }

.lightbox img { /** Pad the lightbox image */ max-width: 90%; max-height: 80%; margin-top: 2%; }

.lightbox:target { /** Remove default browser outline */ outline: none; /** Unhide lightbox **/ display: block; }

/* ================== Header ================== */
header .wrap .top_section { background: rgba(255, 255, 255, 0.74); }

header .wrap .top_section .main-nav, header .wrap .top_section .main { position: relative; }

header .wrap .top_section .main-nav { background: #fff; height: auto; z-index: 150; margin-bottom: -80px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4); }

header .wrap .top_section .main-nav .content_section { padding: 0 10px; }

@media screen and (max-width: 480px) { header .wrap .top_section .main-nav .content_section { text-align: center; } }

header .wrap .top_section .main-nav .content_section img { width: 75px; padding: 10px 0px; }

header, .main-nav-scrolled { position: fixed; width: 100%; top: 0; }

/* ================== Footer ================== */
footer .wrap .footer_section { background: #fff; }

footer .wrap .footer_section .copyright_section { max-width: 940px; margin: 0 auto; text-align: center; padding: 25px 0px; }

footer .wrap .footer_section .copyright_section p { margin-top: 0px; font-size: 16px; text-align: right; }

@media screen and (max-width: 480px) { footer .wrap .footer_section .copyright_section p { text-align: center; font-size: 12px; } }

/* ================== Beta ================== */
body.beta main .wrap { color: #fff; }

body.beta main .wrap p { color: #999933; line-height: 28px; }

body.beta main .wrap .about_section { margin-top: 85px; }

body.beta main .wrap .about_section .content_section ul { list-style-type: none; padding: 0; text-align: center; }

body.beta main .wrap .about_section .content_section ul li { display: inline-block; vertical-align: top; }

body.beta main .wrap .about_section .content_section ul li img { max-width: 150px; }

@media screen and (max-width: 480px) { body.beta main .wrap .about_section .content_section ul li img { max-width: 100px; } }

body.beta main .wrap .about_section .content_section ul li .collection_item_description p { width: 150px; font-size: 13px; margin: 0; display: none; }

@media screen and (max-width: 480px) { body.beta main .wrap .about_section .content_section ul li .collection_item_description p { width: 100px; } }

body.beta main .wrap .about_section .content_section ul li .collection_item_label { display: none; }

body.beta main .wrap .about_section .content_section ul li:hover { opacity: .75; }

body.beta main .wrap .work_section { box-shadow: 0px 0px 15px 1px #000; background-color: #353C44; }

body.beta main .wrap .work_section .content_section { text-align: right; }

body.beta main .wrap .work_section .content_section .row1, body.beta main .wrap .work_section .content_section .row2 { margin-top: 20px; }

body.beta main .wrap .work_section .content_section .row1 a img, body.beta main .wrap .work_section .content_section .row2 a img { width: 150px; }

@media screen and (max-width: 480px) { body.beta main .wrap .work_section .content_section .row1 a img, body.beta main .wrap .work_section .content_section .row2 a img { width: 100px; } }

body.beta main .wrap .work_section .content_section .row1 a img:hover, body.beta main .wrap .work_section .content_section .row2 a img:hover { opacity: .75; }

body.beta main .wrap .work_section .content_section .row1 a.lightbox img, body.beta main .wrap .work_section .content_section .row2 a.lightbox img { width: auto; }

@media screen and (max-width: 480px) { body.beta main .wrap .work_section .content_section .row1 a.lightbox img, body.beta main .wrap .work_section .content_section .row2 a.lightbox img { width: 300px; } }

body.beta main .wrap .work_section .content_section .row1 a.lightbox img:hover, body.beta main .wrap .work_section .content_section .row2 a.lightbox img:hover { opacity: 1.0; }

body.beta main .wrap .connect_section .content_section { text-align: right; }

/* ================== Homepage ================== */
body.homepage main { margin-top: 100px; }

body.homepage main .wrap .two .content_section { color: #fff; text-align: center; }

body.homepage main .wrap .two .content_section .logo { background-image: url("../graphics/logo_white.png"); height: 150px; width: 150px; margin: 0 auto; -webkit-animation-name: example; /* Chrome, Safari, Opera */ -webkit-animation-duration: 1.2s; /* Chrome, Safari, Opera */ -webkit-animation-name: example; -o-animation-name: example; animation-name: example; -webkit-animation-duration: 1.2s; -o-animation-duration: 1.2s; animation-duration: 1.2s; -webkit-animation-iteration-count: infinite; -o-animation-iteration-count: infinite; animation-iteration-count: infinite; }

body.homepage main .wrap .two .content_section h1 { padding: 10px; }

body.homepage main .wrap .two .content_section p { padding: 10px; line-height: 1.4em; }

/* Chrome, Safari, Opera */
@-webkit-keyframes example { 0% { background-image: url("../graphics/logo_white.png"); }
  25% { background-image: url("../graphics/animation/logo_half_gold.png"); }
  50% { background-image: url("../graphics/animation/logo_full_gold.png"); }
  75% { background-image: url("../graphics/animation/logo_half_gold_down.png"); }
  100% { background-image: url("../graphics/logo_white.png"); } }

/* Standard syntax */
@-o-keyframes example { 0% { background-image: url("../graphics/logo_white.png"); }
  25% { background-image: url("../graphics/animation/logo_half_gold.png"); }
  50% { background-image: url("../graphics/animation/logo_full_gold.png"); }
  75% { background-image: url("../graphics/animation/logo_half_gold_down.png"); }
  100% { background-image: url("../graphics/logo_white.png"); } }
@keyframes example { 0% { background-image: url("../graphics/logo_white.png"); }
  25% { background-image: url("../graphics/animation/logo_half_gold.png"); }
  50% { background-image: url("../graphics/animation/logo_full_gold.png"); }
  75% { background-image: url("../graphics/animation/logo_half_gold_down.png"); }
  100% { background-image: url("../graphics/logo_white.png"); } }
