/* =============================================================================
	General
============================================================================= */

.one_is_visible {
	.projects-container {
		li:nth-child(n+2) {
			display: none;
		}
	}
}

.two_is_visible {
	.projects-container {
		li:nth-child(n+1) {
			display: none;
		}
		li:nth-child(2) {
			display: block;
		}
	}
}

.three_is_visible {
	.projects-container {
		li:nth-child(n+1) {
			display: none;
		}
		li:nth-child(3) {
			display: block;
		}
	}
}

.four_is_visible {
	.projects-container {
		li:nth-child(n+1) {
			display: none;
		}
		li:nth-child(4) {
			display: block;
		}
	}
}

/*==Project transition==*/

.homepage main .wrap .projects-container .collection ul li:first-child, .two_is_visible .wrap .projects-container .collection ul li:nth-child(2), .three_is_visible .wrap .projects-container .collection ul li:nth-child(3), .four_is_visible .wrap .projects-container .collection ul li:nth-child(4) {
	opacity: 1;
	transition: 1s opacity ease;
}

.homepage main .wrap .projects-container .collection ul li, .homepage.two_is_visible .wrap .projects-container .collection ul li:first-child, .homepage.three_is_visible .wrap .projects-container .collection ul li:first-child, .homepage.four_is_visible .wrap .projects-container .collection ul li:first-child {
	opacity: 0;
	display: block;
	transition: 1s opacity ease;
}