/* ==================
	Footer
	================== */

	footer {
		.wrap {
			.six {
				background: rgba(235, 238, 239, 0.45);
				.copyright_section {
					max-width:940px;
					margin: 0 auto;
					text-align: center;
					p {
						margin-top: 0px;
					}
				}
			}
		}
	}