/* ==================
	Header
	================== */

	header {
		.wrap {
			.one {
				background: rgba(255, 255, 255, 0.74);
				.welcome_section {
					margin: 0 auto;
					text-align: center;
					h1.page_header {
						font-size: 60px;
					}
				}
			}
		}
	}




