/* ==================
	Header
	================== */

	header {
		.wrap {
			.one {
				background: rgba(255, 255, 255, 0.74);
				.welcome_section {
					margin: 0 auto;
					h1.page_header {
						font-size: 60px;
					}
				}
			}
		}
	}

	.main-nav,
.main {
  position: relative; 
}
.main-nav {
  background: #fff;
  height: 80px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
}
header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}




