// SETTINGS //

// Fonts - Include Google Fonts Here
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Maven+Pro:400,500,700,900);

// Variables

$font-family-1: 'Arvo', serif;
$font-family-2: 'Maven Pro', sans-serif;

$headline-font: $font-family-2;
$body-font: $font-family-1;

$font-color: #222;