/* ==================
	Beta
	================== */

	%fixedbox {
		box-sizing: border-box;
		display: block;
		font-size: 4em;
		padding: 1em;
		width: 6em;
		height: 3em;
		position: fixed; 
		top: 50%;
		left: 50%;
		transform: translate3d(-50%,-50%,0);
	}

	body.beta.home {
		margin: 0;
		padding: 0;

		.content {
			//@extend %fixedbox;
			font-weight: bold;
			text-align: center;
			z-index: 1000;
			background: #fff;
			color: #000;
			mix-blend-mode: lighten;
			position: fixed; 
			top: 50%;
			left: 50%;
			transform: translate3d(-50%,-50%,0);
			padding: 50px;
			border-radius: 270px;
			width: 400px;
			height: 400px;
			font-size: 78px;
			z-index: 2;
		}

		section {
			background-repeat: no-repeat;
			background-size: cover;
			isolation: isolate;
			position: relative;
			height: 100vh;
		}
		.wrapper {
			clip: rect(auto auto auto auto);
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			

			&:before {
				content: " "; 
				@extend %fixedbox;
				mix-blend-mode: darken;
				padding: 2em 3.5em;
				border-radius: 200px;
			}
		}
		.one {
			
		}

		.two {
			background-image: url('../graphics/beta/topkapi.jpg');
			.wrapper:before {
				background: #7B0216;
				mix-blend-mode: screen;
			}
		}

		.three {
			//background-image: url('../graphics/beta/photo.jpg');
			//background-position: 0% 50%;
			//.wrapper:before {
				//background: #7B0216;
				//mix-blend-mode: screen;
			//}
		}

		.four {
			background-image: url('../graphics/beta/epheseus.jpg');
			background-position: 50%;
			.wrapper:before {
				background: #011D6B;
				mix-blend-mode: screen;
			}
		}
	}